a:focus {
	color: red;
}

.searchRight{
	float: right;
	padding-bottom: .5em;
	margin-bottom: 1em;
}

.label{
	float: left;
	margin-top: 3.2em;
	padding-top: .3em;
	padding-left: 30em;
	margin-right: -30em;
}

gcse{
	width: 250px;
	float: right;
}
.indent {
    padding-left: 2em;
}
.footer-to-bottom {
    position: absolute; 
    bottom: 0; 
    width: 100%;
}