a:focus {
	color: red;
}

.searchRight{
	float: right;
	padding-bottom: .5em;
	margin-bottom: 1em;
}

.label{
	float: left;
	margin-top: 3.2em;
	padding-top: .3em;
	padding-left: 28em;
	margin-right: -28em;
}

gcse{
	width: 250px;
	float: right;
}